#dataContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
  justify-content: center;
}

#onTimePlot {
  width: fit-content;
}

#songsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 5px;
}

#songsList::-webkit-scrollbar {
  width: 10px;
}

#songsList::-webkit-scrollbar-track {
  background: transparent;
}

#songsList::-webkit-scrollbar-thumb {
  background: rgba(179, 179, 179, 0.275);
  border-radius: 5px;
}

#songsList::-webkit-scrollbar-track {
  background: transparent;
}

.song {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 260px;
  max-width: 340px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
}

.song:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.song > div {
  margin-left: 10px;
}

.song img {
  border-radius: 5px;
  object-fit: cover;
}

.song p:nth-of-type(2) {
  color: #949494;
}
